<div class="localization-wrapper">
    {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <localization-form class="small-hide medium-hide" data-prevent-hide>
        {%- form 'localization', id: 'CountrySelectorForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden">{{ 'localization.country_label' | t }}</h2>
            {%- render 'country-localization', localPosition: 'CountrySelector' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  
    {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <localization-form class="small-hide medium-hide" data-prevent-hide>
        {%- form 'localization', id: 'LanguageSelectorForm', class: 'localization-form' -%}
          <div>
            <h2 class="visually-hidden">{{ 'localization.language_label' | t }}</h2>
            {%- render 'language-localization', localPosition: 'LanguageSelector' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  </div>
  