<div class="support-navbar">
    <ul>
        <li><a href="#" class="tab-link" data-tab="customer-support">Customer Support</a></li>
        <li><a href="#" class="tab-link" data-tab="chat">Chat</a></li>
        <li><a href="#" class="tab-link" data-tab="shipping-returns">Shipping & Returns</a></li>
        <li><a href="#" class="tab-link" data-tab="size-guide">Size Guide</a></li>
        <li><a href="#" class="tab-link" data-tab="legal">Legal</a></li>
        <li><a href="#" class="tab-link" data-tab="accessibility">Accessibility</a></li>
    </ul>
</div>

<div class="support-content">
    <div id="customer-support" class="tab-content">
        <h2>Customer Support</h2>
        <p>Here is the customer support information...</p>
    </div>

    <div id="chat" class="tab-content hidden">
        <h2>Chat Support</h2>
        <p>Here is how you can contact our chat support...</p>
    </div>

    <div id="shipping-returns" class="tab-content hidden">
        <h2>Shipping & Returns</h2>
        <p>Details about shipping and returns...</p>
    </div>

    <div id="size-guide" class="tab-content hidden">
        <h2>Size Guide</h2>
        <p>Size guide details...</p>
    </div>

    <div id="legal" class="tab-content hidden">
        <h2>Legal Information</h2>
        <p>All legal policies and terms...</p>
    </div>

    <div id="accessibility" class="tab-content hidden">
        <h2>Accessibility</h2>
        <p>Information about website accessibility...</p>
    </div>
</div>
